#secondbox{
    background-color: aqua;
    line-height: 3em ;  
    padding: 2em;
    width: 1500px;
    margin-left: 800px ;
    margin-right: 300px ;
    
    
}



#firstbox{
    text-align: center;
    color: green;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 40px;
   
    
    
}


.arrange{
    
    border-radius: 6px;
    padding: 3px 4px 5px 3px;
    margin-bottom: 30px;
    font-size: 36px
}

.pad{
    display: inline-block;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
   

}

.set{
    padding-left: 26%;
    font-size: 36px;
}
.font{
    font-size: 36px;
}


.big{
    font-size: 30px;
}
.head{
    
    font-size: 40px;
    
}

table input{ font-size:20px;
}

#new{
    display: flex;
}
.button{
    font-size: 36px;
}
.extra{
    padding-left: 0.5em;
    font-size: 30px;
}
#date-name{
    font-size: 30px;
}
#month-name{
    font-size: 30px;
}
#year-name{
    font-size: 30px;
}